USE [master]
GO
/****** Object:  Database [QLDG]    Script Date: 12-Apr-18 23:23:36 ******/
CREATE DATABASE [QLDG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDG', FILENAME = N'E:\Apps\SQL Server\SQL Server 2014\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLDG.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLDG_log', FILENAME = N'E:\Apps\SQL Server\SQL Server 2014\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLDG_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDG]
GO
/****** Object:  Table [dbo].[CHITIET_PHIEUMUON]    Script Date: 12-Apr-18 23:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIET_PHIEUMUON](
	[MaPhieuMuon] [char](10) NOT NULL,
	[MaSach] [char](10) NOT NULL,
	[GiaTriSach] [int] NULL,
	[GhiChu] [nvarchar](50) NULL,
	[TinhTrangMuon] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHITIET_PHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[MaPhieuMuon] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIET_PHIEUTRA]    Script Date: 12-Apr-18 23:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIET_PHIEUTRA](
	[MaPhieuTra] [char](10) NOT NULL,
	[MaSach] [char](10) NOT NULL,
	[GiaTriSach] [int] NULL,
	[TinhTrangTra] [nvarchar](50) NULL,
	[MaHanhVi] [char](5) NULL,
	[PhiBoiThuong] [int] NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHITIET_PHIEUTRA] PRIMARY KEY CLUSTERED 
(
	[MaPhieuTra] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANHMUCSACH]    Script Date: 12-Apr-18 23:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANHMUCSACH](
	[MaDanhMuc] [char](5) NOT NULL,
	[DanhMuc] [nvarchar](50) NULL,
 CONSTRAINT [PK_LINHVUCSACH] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANTOC]    Script Date: 12-Apr-18 23:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANTOC](
	[MaDanToc] [char](5) NOT NULL,
	[DanToc] [nvarchar](20) NULL,
 CONSTRAINT [PK_DANTOC] PRIMARY KEY CLUSTERED 
(
	[MaDanToc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 12-Apr-18 23:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MaDocGia] [char](10) NOT NULL,
	[TenDocGia] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[MaDanToc] [char](5) NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[CMND] [nchar](12) NULL,
	[MaNhomNganh] [char](10) NULL,
	[NgheNghiep] [nvarchar](50) NULL,
	[NoiCongTac] [nvarchar](150) NULL,
	[MaTrinhDo] [char](5) NULL,
	[DiaChi] [nvarchar](150) NULL,
	[MaQuocTich] [char](5) NULL,
	[SoDienThoai] [char](12) NULL,
	[Email] [char](50) NULL,
 CONSTRAINT [PK_DOCGIA] PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAISACH]    Script Date: 12-Apr-18 23:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAISACH](
	[MaLoaiSach] [char](5) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAISACH] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAITHE]    Script Date: 12-Apr-18 23:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAITHE](
	[MaLoai] [char](5) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
	[PhiGiaHan] [int] NULL,
 CONSTRAINT [PK_LOAITHE] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MANHINH]    Script Date: 12-Apr-18 23:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MANHINH](
	[MaManHinh] [char](10) NOT NULL,
	[TenManHinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_MANHINHCHUCNANG] PRIMARY KEY CLUSTERED 
(
	[MaManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGONNGU]    Script Date: 12-Apr-18 23:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGONNGU](
	[MaNgonNgu] [char](5) NOT NULL,
	[NgonNgu] [nvarchar](50) NULL,
 CONSTRAINT [PK_NGONNGU] PRIMARY KEY CLUSTERED 
(
	[MaNgonNgu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12-Apr-18 23:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNhanVien] [char](10) NOT NULL,
	[TenNhanVien] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[DiaChi] [nvarchar](150) NULL,
	[SoDienThoai] [char](12) NULL,
	[CMND] [char](12) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[MaTrinhDo] [char](5) NULL,
	[MaDanToc] [char](5) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOMNGANH]    Script Date: 12-Apr-18 23:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHOMNGANH](
	[MaNhomNganh] [char](10) NOT NULL,
	[NhomNganh] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHOMNGANH] PRIMARY KEY CLUSTERED 
(
	[MaNhomNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOMNHANVIEN]    Script Date: 12-Apr-18 23:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHOMNHANVIEN](
	[MaNhomNV] [char](10) NOT NULL,
	[TenNhom] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHOMNHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNhomNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANLOAIVIPHAM]    Script Date: 12-Apr-18 23:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHANLOAIVIPHAM](
	[MaHanhVi] [char](5) NOT NULL,
	[TenHanhVi] [nvarchar](50) NULL,
	[HinhThucXuLy] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHANLOAIVIPHAM] PRIMARY KEY CLUSTERED 
(
	[MaHanhVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 12-Apr-18 23:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MaNhomNV] [char](10) NOT NULL,
	[MaManHinh] [char](10) NULL,
	[XetQuyen] [bit] NULL,
 CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[MaNhomNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUMUON]    Script Date: 12-Apr-18 23:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUMUON](
	[MaPhieuMuon] [char](10) NOT NULL,
	[NgayLapPM] [date] NULL,
	[MaDocGia] [char](10) NULL,
	[PhiDatCoc] [int] NULL,
	[ThoiHanMuonSach] [date] NULL,
	[SoLuongMuon] [int] NULL,
	[NgayCapNhat] [date] NULL,
	[MaNhanVien] [char](10) NULL,
 CONSTRAINT [PK_PHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[MaPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUTRA]    Script Date: 12-Apr-18 23:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUTRA](
	[MaPhieuTra] [char](10) NOT NULL,
	[NgayLapPT] [date] NULL,
	[MaPhieuMuon] [char](10) NULL,
	[MaNhanVien] [char](10) NULL,
	[LanTra] [int] NULL,
	[TongPhiMuonSach] [int] NULL,
	[SoLuongTra] [int] NULL,
	[SoLuongChuaTra] [int] NULL,
	[TongTienBoiThuong] [int] NULL,
	[SoTienNhanLai] [int] NULL,
 CONSTRAINT [PK_PHIEUTRA] PRIMARY KEY CLUSTERED 
(
	[MaPhieuTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUOCTICH]    Script Date: 12-Apr-18 23:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUOCTICH](
	[MaQuocTich] [char](5) NOT NULL,
	[QuocTich] [nvarchar](50) NULL,
 CONSTRAINT [PK_QUOCTICH] PRIMARY KEY CLUSTERED 
(
	[MaQuocTich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12-Apr-18 23:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TenDangNhap] [char](10) NOT NULL,
	[MatKhau] [char](16) NULL,
	[HoatDong] [bit] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOAN_NHOMNV]    Script Date: 12-Apr-18 23:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN_NHOMNV](
	[TenDangNhap] [char](10) NOT NULL,
	[MaNhomNV] [char](10) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_TAIKHOAN_NHOMNV] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC,
	[MaNhomNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THETHUVIEN]    Script Date: 12-Apr-18 23:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THETHUVIEN](
	[SoThe] [char](10) NOT NULL,
	[MaVachThe] [char](50) NULL,
	[MaLoai] [char](5) NULL,
	[MaDocGia] [char](10) NULL,
	[NgayLamThe] [date] NULL,
	[HanSuDung] [date] NULL,
 CONSTRAINT [PK_THETHUVIEN] PRIMARY KEY CLUSTERED 
(
	[SoThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THONGTINSACH]    Script Date: 12-Apr-18 23:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THONGTINSACH](
	[MaSach] [char](10) NOT NULL,
	[TenSach] [nvarchar](100) NULL,
	[MaLoaiSach] [char](5) NULL,
	[MaDanhMuc] [char](5) NULL,
	[MaNgonNgu] [char](5) NULL,
	[NamXuatBan] [char](4) NULL,
	[NhaXuatBan] [nvarchar](50) NULL,
	[TacGia] [nvarchar](50) NULL,
	[MoTa] [nvarchar](50) NULL,
	[SoLuongCon] [int] NULL,
	[GiaTriSach] [int] NULL,
	[MaVach] [char](50) NULL,
 CONSTRAINT [PK_THONGTINSACH] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRINHDO]    Script Date: 12-Apr-18 23:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRINHDO](
	[MaTrinhDo] [char](5) NOT NULL,
	[TrinhDo] [nvarchar](50) NULL,
 CONSTRAINT [PK_TRINHDO] PRIMARY KEY CLUSTERED 
(
	[MaTrinhDo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CHITIET_PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_PHIEUMUON_PHIEUMUON] FOREIGN KEY([MaPhieuMuon])
REFERENCES [dbo].[PHIEUMUON] ([MaPhieuMuon])
GO
ALTER TABLE [dbo].[CHITIET_PHIEUMUON] CHECK CONSTRAINT [FK_CHITIET_PHIEUMUON_PHIEUMUON]
GO
ALTER TABLE [dbo].[CHITIET_PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_PHIEUMUON_THONGTINSACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[THONGTINSACH] ([MaSach])
GO
ALTER TABLE [dbo].[CHITIET_PHIEUMUON] CHECK CONSTRAINT [FK_CHITIET_PHIEUMUON_THONGTINSACH]
GO
ALTER TABLE [dbo].[CHITIET_PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_PHIEUTRA_PHANLOAIVIPHAM] FOREIGN KEY([MaHanhVi])
REFERENCES [dbo].[PHANLOAIVIPHAM] ([MaHanhVi])
GO
ALTER TABLE [dbo].[CHITIET_PHIEUTRA] CHECK CONSTRAINT [FK_CHITIET_PHIEUTRA_PHANLOAIVIPHAM]
GO
ALTER TABLE [dbo].[CHITIET_PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_PHIEUTRA_PHIEUTRA] FOREIGN KEY([MaPhieuTra])
REFERENCES [dbo].[PHIEUTRA] ([MaPhieuTra])
GO
ALTER TABLE [dbo].[CHITIET_PHIEUTRA] CHECK CONSTRAINT [FK_CHITIET_PHIEUTRA_PHIEUTRA]
GO
ALTER TABLE [dbo].[DOCGIA]  WITH CHECK ADD  CONSTRAINT [FK_DOCGIA_DANTOC] FOREIGN KEY([MaDanToc])
REFERENCES [dbo].[DANTOC] ([MaDanToc])
GO
ALTER TABLE [dbo].[DOCGIA] CHECK CONSTRAINT [FK_DOCGIA_DANTOC]
GO
ALTER TABLE [dbo].[DOCGIA]  WITH CHECK ADD  CONSTRAINT [FK_DOCGIA_NHOMNGANH] FOREIGN KEY([MaNhomNganh])
REFERENCES [dbo].[NHOMNGANH] ([MaNhomNganh])
GO
ALTER TABLE [dbo].[DOCGIA] CHECK CONSTRAINT [FK_DOCGIA_NHOMNGANH]
GO
ALTER TABLE [dbo].[DOCGIA]  WITH CHECK ADD  CONSTRAINT [FK_DOCGIA_QUOCTICH] FOREIGN KEY([MaQuocTich])
REFERENCES [dbo].[QUOCTICH] ([MaQuocTich])
GO
ALTER TABLE [dbo].[DOCGIA] CHECK CONSTRAINT [FK_DOCGIA_QUOCTICH]
GO
ALTER TABLE [dbo].[DOCGIA]  WITH CHECK ADD  CONSTRAINT [FK_DOCGIA_TRINHDO] FOREIGN KEY([MaTrinhDo])
REFERENCES [dbo].[TRINHDO] ([MaTrinhDo])
GO
ALTER TABLE [dbo].[DOCGIA] CHECK CONSTRAINT [FK_DOCGIA_TRINHDO]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_DANTOC] FOREIGN KEY([MaDanToc])
REFERENCES [dbo].[DANTOC] ([MaDanToc])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_DANTOC]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TRINHDO] FOREIGN KEY([MaTrinhDo])
REFERENCES [dbo].[TRINHDO] ([MaTrinhDo])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TRINHDO]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYEN_MANHINH] FOREIGN KEY([MaManHinh])
REFERENCES [dbo].[MANHINH] ([MaManHinh])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYEN_MANHINH]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYEN_NHOMNHANVIEN] FOREIGN KEY([MaNhomNV])
REFERENCES [dbo].[NHOMNHANVIEN] ([MaNhomNV])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYEN_NHOMNHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUON_DOCGIA] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DOCGIA] ([MaDocGia])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUON_DOCGIA]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUON_NHANVIEN] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUON_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRA_NHANVIEN] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PHIEUTRA] CHECK CONSTRAINT [FK_PHIEUTRA_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRA_PHIEUMUON] FOREIGN KEY([MaPhieuMuon])
REFERENCES [dbo].[PHIEUMUON] ([MaPhieuMuon])
GO
ALTER TABLE [dbo].[PHIEUTRA] CHECK CONSTRAINT [FK_PHIEUTRA_PHIEUMUON]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN_NHOMNV]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHOMNV_NHOMNHANVIEN] FOREIGN KEY([MaNhomNV])
REFERENCES [dbo].[NHOMNHANVIEN] ([MaNhomNV])
GO
ALTER TABLE [dbo].[TAIKHOAN_NHOMNV] CHECK CONSTRAINT [FK_TAIKHOAN_NHOMNV_NHOMNHANVIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN_NHOMNV]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHOMNV_TAIKHOAN] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TAIKHOAN] ([TenDangNhap])
GO
ALTER TABLE [dbo].[TAIKHOAN_NHOMNV] CHECK CONSTRAINT [FK_TAIKHOAN_NHOMNV_TAIKHOAN]
GO
ALTER TABLE [dbo].[THETHUVIEN]  WITH CHECK ADD  CONSTRAINT [FK_THETHUVIEN_DOCGIA] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DOCGIA] ([MaDocGia])
GO
ALTER TABLE [dbo].[THETHUVIEN] CHECK CONSTRAINT [FK_THETHUVIEN_DOCGIA]
GO
ALTER TABLE [dbo].[THETHUVIEN]  WITH CHECK ADD  CONSTRAINT [FK_THETHUVIEN_LOAITHE] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LOAITHE] ([MaLoai])
GO
ALTER TABLE [dbo].[THETHUVIEN] CHECK CONSTRAINT [FK_THETHUVIEN_LOAITHE]
GO
ALTER TABLE [dbo].[THONGTINSACH]  WITH CHECK ADD  CONSTRAINT [FK_THONGTINSACH_DANHMUCSACH] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DANHMUCSACH] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[THONGTINSACH] CHECK CONSTRAINT [FK_THONGTINSACH_DANHMUCSACH]
GO
ALTER TABLE [dbo].[THONGTINSACH]  WITH CHECK ADD  CONSTRAINT [FK_THONGTINSACH_LOAISACH] FOREIGN KEY([MaLoaiSach])
REFERENCES [dbo].[LOAISACH] ([MaLoaiSach])
GO
ALTER TABLE [dbo].[THONGTINSACH] CHECK CONSTRAINT [FK_THONGTINSACH_LOAISACH]
GO
ALTER TABLE [dbo].[THONGTINSACH]  WITH CHECK ADD  CONSTRAINT [FK_THONGTINSACH_NGONNGU] FOREIGN KEY([MaNgonNgu])
REFERENCES [dbo].[NGONNGU] ([MaNgonNgu])
GO
ALTER TABLE [dbo].[THONGTINSACH] CHECK CONSTRAINT [FK_THONGTINSACH_NGONNGU]
GO
USE [master]
GO
